/* 폼 요소들에 대한 공통 스타일 */
.form-group {
    margin-bottom: 15px;
    text-align: left;
    border: 1px solid #e9ecef;
    padding: 10px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #495057;
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea,
select {
    width: calc(100% - 16px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

.error-class {
    color: red;
    text-align: left;
    margin-bottom: 5px;
}

.error-input {
    border-color: red;
}