<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="findLocation"></title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/tables.css">
    <link rel="stylesheet" href="/css/buttons.css">
</head>
<body>
<div>
    <h1><a th:href="@{findLocation.html}"></a></h1> <hr/>
    <div>
        <h3>구장을 검색해주세요</h3>
    </div>
    <form th:method="post" th:action="@{/findLocation}" th:object="${controllerLocationRequest}">
        <div>
            <label th:for="address">거주 지역(시) : </label>
            <input type="text" th:field="*{address}" />
        </div>
        </br>
        <button type="submit">구장 찾기</button>
    </form>
    <div th:if="${not #lists.isEmpty(locationList)}">
        <h3>검색 결과</h3>
        <table>
            <thead>
            <tr>
                <th>위치 이름</th>
                <th>주소</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="location : ${locationList}">
                <td><a th:href="@{/findLocation/location/{id}(id=${location.id})}" th:text="${location.locationName}"></a></td>
                <td th:text="${location.address}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(locationList)}">
        <p>검색 결과가 없습니다.</p>
    </div>

</div>


</body>
</html>

