<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="home"></title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/tables.css">
    <link rel="stylesheet" href="/css/buttons.css">
</head>
<body>
<div>
    <h1><a th:href="@{home.html}"></a></h1> <hr/>
    <div th:if="${username == null}">
        <h3>로그인 되어있지 않습니다!</h3>
        <button th:onclick="|location.href='@{/join}'|">회원 가입</button> <br/><br/>
        <button th:onclick="|location.href='@{/login}'|">로그인</button>
    </div>
    <div th:unless="${username == null}" >
        <h3>[[${username}]]님 환영합니다!</h3>
        <button th:onclick="|location.href='@{/findLocation}'|">코트 찾기</button> <br/><br/>
        <button th:onclick="|location.href='@{/home/myReview}'|">내 리뷰</button>
        <button th:onclick="|location.href='@{/logout}'|">로그아웃</button>
    </div>
</div>
</body>
</html>