<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${location.get().getLocationName()}"></title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/tables.css">
    <link rel="stylesheet" href="/css/buttons.css">
</head>
<body>
<div>
    <h2 th:text="${location.get().getLocationName()}"></h2>
    <div>
        <h3>주소 : <span th:text="${location.get().getAddress()}"></span>
        </h3>
        <h3>코트 수 : <span th:text="${location.get().getCourtNum()}"></span></h3>
        <h3>코트 재질 : </h3>
        <table>
            <tbody>
            <tr th:each="courtTexture : ${courtTextures}">
                <td th:text="${courtTexture}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${not #lists.isEmpty(reviewList)}">
        <h3>리뷰 검색 결과</h3>
        <table>
            <thead>
            <tr>
                <th>번호</th>
                <th>작성자</th>
                <th>작성날짜</th>
                <th>평점</th>
                <th>리뷰 내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reviews : ${reviewList}">
                <td th:text="${1+reviewList.indexOf(reviews)}"></td>
                <td th:text="${reviews.getUsername()}"></td>
                <td th:text="${reviews.getDate()}"></td>
                <td th:text="${reviews.getRating()}"></td>
                <td th:text="${reviews.getText()}"></td>
                <td>
                    <a th:if="${userId == reviews.getUser().getId()}"
                       th:href="@{/findLocation/location/{locationId}/review/{reviewId}/edit(locationId=${location.get().getId()}, reviewId=${reviews.getId()})}"
                       class="edit-button">수정</a>
                    <form th:if="${userId == reviews.getUser().getId()}"
                          th:action="@{/findLocation/location/{locationId}/review/{reviewId}/delete(locationId=${location.get().getId()}, reviewId=${reviews.getId()})}"
                          method="post"
                          style="display: inline;">
                        <button type="submit" class="delete-button"
                                onclick="return confirm('정말로 이 리뷰를 삭제하시겠습니까?')">삭제</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(reviewList)}">
        <p>리뷰가 없습니다.</p>
    </div>
    <div>
        <h3><a th:href="@{/findLocation/location/{locationId}/review (locationId=${location.get().getId()})}">리뷰 쓰기</a></h3>
    </div>
    <button th:onclick="|location.href='@{/home}'|">홈으로</button>

</div>
</body>
</html>