<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="review"></title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/tables.css">
    <link rel="stylesheet" href="/css/buttons.css">
</head>
<body>
    <div>
        <label th:for="username">작성자 : [[${username}]]</label>
        <br>
        <form th:method="post" th:action="@{/findLocation/location/{id}/review (id=${locationId})}" th:object="${reviewRequest}">
            <div>
                <label th:for="date">작성날짜 : </label>
                <input type="text" th:field="*{date}"/>
            </div>
            <br>
            <div>
                <label th:for="rating">평점 : </label>
                <input type="number" min="1" max="5" th:field="*{rating}"/>
            </div>
            <br/>
            <div>
                <label th:for="text">리뷰 내용 : </label>
                <textarea th:field="*{text}" rows="5" cols="20"></textarea>
            </div>
            <br/>
            <button type="submit">작성 완료</button>
        </form>
    </div>
</body>



</html>
